.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
  
.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #F3F0F0;
  outline: none;
  background-color: #FF9A8A;
}
  
.calculator > button:hover {
  background-color: rgba(255, 255, 255, .9);
}
  
.exit {
  grid-column: 1 / -1;
  background-color: #E4CACA;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
  
.exit .last {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}
  
.exit .present {
  color: white;
  font-size: 2.5rem;
}

.ravno {
  width: 300px;
}